@import url('https://fonts.cdnfonts.com/css/subatomic');
@import url('https://fonts.cdnfonts.com/css/h-hangero');

html {
    font-family: 'h Hangero','Subatomic', sans-serif;
    font-size: 1.5rem;
    font-weight: bolder;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, rgb(71, 71, 115), rgba(226, 81, 226, 0.469));
    color: aliceblue;
}
nav {
    width: 100%;
    backdrop-filter: blur(15px);
}

#hero {
    color: aliceblue;
    width: 100%;
    height: 50vh;
    background: linear-gradient(to right, rgba(128, 128, 128, 0.295), rgba(128, 0, 128, 0.52)) , url(media/webacc.jpg) no-repeat center / cover;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2 rem;
    justify-content: space-evenly;
    border: 10px solid black;
}
.nav-links a {
    text-decoration: none;
    color: blanchedalmond;
}
.container .info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.container .info h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.container .info p {
    font-size: 1.2rem;
    max-width: 80%;
}
.container {
    width: 80%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot {
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 600px) {
    .nav-links {
        flex-direction: column;
        position: relative;
    }

    #hero {
        display: flex;
        justify-content: space-evenly;
        justify-items: auto;
    }
    
    .ms {
        display: flex;
        justify-content: center;
    }

    #contact-title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

.ms {
    display: flex;
    flex-direction: column;
}